.results-block {
  display: inline-block;
  padding-bottom: 0px;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }

  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

.friend-lookup-container {
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-bottom: 20px;
}

.friend-lookup-result-row {
  padding-bottom: 10px;
}

.search-results-table {
  padding-right: 0px;
}

.list-title {
  font-size: 23px;
}
